<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container header-contianer">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-bottom: 45px;">
       <nav class="navbar navbar-inverse navbar-fixed-top center">
         <div class="container-fluid">
           <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
           </div>
          <div class="collapse navbar-collapse inner" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="#Education...">Education</a></li>
              <li><a href="#Experiences...">Experiences</a></li>
              <li><a href="#Publications...">Publications</a></li>
              <li><a href="#Research Interests...">Research Interests</a></li>
              <li><a href="#Hobbies...">Hobbies and Interests</a></li>
            </ul>

            <!-- Dark Mode Toggle Icon -->
            <div class="dark-mode-toggle" style="cursor:pointer; display:inline-block; float:right; margin-top:8px;">
              <i id="darkModeIcon" class="fas fa-moon"></i>
            </div>
         </div>
       </nav> 
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1 style="font-family:'Poppins', sans-serif; font-size:3em; letter-spacing:1px;">
        <span style="background: linear-gradient(90deg, #666666 0%, #333333 50%, #000000 100%);
                     -webkit-background-clip: text;
                     -webkit-text-fill-color: transparent;
                     font-weight:300;">Mohammad</span>
        
        <span style="background: linear-gradient(90deg, #333333 0%, #1a1a1a 50%, #000000 100%);
                     -webkit-background-clip: text;
                     -webkit-text-fill-color: transparent;
                     font-weight:500;"> Mehdi</span>
        
        <span style="background: linear-gradient(90deg, #1a1a1a 0%, #0d0d0d 50%, #000000 100%);
                     -webkit-background-clip: text;
                     -webkit-text-fill-color: transparent;
                     font-weight:700;"> Habibi</span>
      </h1>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <!-- Custom social icons -->
      <ul class="icons no-print custom-icons">
        <li>
          <a href="https://github.com/HabibiMehdi" target="_blank" aria-label="GitHub">
            <img src="/images/icons/github.png" alt="GitHub icon">
          </a>
        </li>

        <li>
          <a href="mailto:thehabibi.mm@gmail.com" target="_blank" aria-label="Email">
            <img src="/images/icons/gmail.png" alt="Email icon">
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/mehdi8habibi/" target="_blank" aria-label="LinkedIn">
            <img src="/images/icons/linkedin.png" alt="LinkedIn icon">
          </a>
        </li>

        <li>
          <a href="https://twitter.com/Mehdi8habibi" target="_blank" aria-label="Twitter">
            <img src="/images/icons/twitter.png" alt="Twitter icon">
          </a>
        </li>

        <li>
          <a href="https://scholar.google.com/citations?user=XXXXXXXXXXX" target="_blank" aria-label="Google Scholar">
            <img src="/images/icons/scholar.png" alt="Google Scholar icon">
          </a>
        </li>

        <li>
          <a href="https://orcid.org/0009-0001-6669-133X" target="_blank" aria-label="ORCID">
            <img src="/images/icons/Orcid.png" alt="ORCID icon">
          </a>
        </li>
      </ul>

      <!-- Contact info -->
      {%- if site.email -%}
        <p>
          {{ site.email_title | default: "Email" }}: <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
        </p>
      {%- endif -%}
      {%- if site.phone -%}
        <p>
          {{ site.phone_title | default: "Phone" }}: {{ site.phone | escape }}
        </p>
      {%- endif -%}
      {%- if site.website -%}
        <p>
          {{ site.website_title | default: "Web" }}: {% include a.html href=site.website %}{{ site.website | escape }}</a>
        </p>
      {%- endif -%}
    </div>
  </div>
</div>
